header{
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: aqua;
    border-style: solid;
    color: black;
}
a{
    color: red;
}
nav{
    border-style: solid;
    color:mediumvioletred;
    margin: 2%;
    padding: 0.5%;
    text-align: right;
}
main{
    border-style: double;
    text-align: center;
    margin: 5%;
    background-color: olivedrab;
    text-transform: uppercase;
    width: 40%;
    float: left;
    display: inline;
}
.d1{
    color: brown;
}
aside{
    text-align: center;
    border-style: groove;
    width: 40%;
    display: inline;
    float: right;
    background-color: chartreuse;
}
.d2{
    border-style: double;
    background-color: cornsilk;

}