header{
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: aqua;
    border-style: solid;
    color: black;
}
a{
    color: red;
}
nav{
    border-style: solid;
    color:mediumvioletred;
    padding: 0.5%;
    text-align: right;
}